/* custom properties */

:root {
  --ff-secondary: 'PT Serif', serif;
  --ff-primary: 'Balsamiq Sans', cursive;

  --clr-dark: #2c2a2a;
  --clr-light: #dddbdb;
  --clr-accent: #30aa00;
  --clr-title: #e05a31;
  --clr-accent-visited: #154b00;
}

html { scroll-behavior: smooth; }

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: 19px;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 1000px;
}


/* menu section */
#menu {
  margin: 0 auto;
  width: 90%;
  height: 5.5em;
  border-bottom: 2px solid var(--clr-dark);
}

#menu .site-title {
  float: left;
  font-size: 225%;
  color: var(--clr-title);
  letter-spacing: 0.1em;
  padding: 0.45em 0;
  text-transform: uppercase;
}

#menu .site-title a,
#menu .site-title a:hover {
  color: var(--clr-title);
  text-decoration: none;
}

#menu ul.links {
  float: right;
  list-style-type: none;
  font-size: 90%;
  margin-top: 2.8em;
}

#menu ul.links li {
  display: inline;
  margin: 0 0 0 0.5em;
  padding: 0;
}

#menu a {
  border: none;
  color: var(--clr-accent);
}

#menu a:hover { border-bottom: solid 1px; }

/* content section */
#content {
  margin: 2em auto;
  max-width: 750px;
}

h1, h2, p, ul { margin: 1em 0; }

p.gap { margin-top: 1.8em; }

p.subtitle {
  margin-top: 0;
  font-style: italic;
}

a { 
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover { border-bottom: solid 1px; }
a:link { color: var(--clr-accent); }
a:visited { color: var(--clr-accent-visited); }

/* typography bits */
h1 a, h2 a { border-bottom: none; }
h1, h2 { 
  font-weight: normal;
  letter-spacing: 0.02em;
}
h2 { font-variant: small-caps;}
h1 {
  margin: 0 0 0 -.05em;
  font-size: 200%;
}
h2 {
  margin: 1.5em 0 -0.2em 0;
  font-size: 160%;
}
h3 {
  margin: 1.5em 0 -0.5em 0;
  font-size: 110%;
  font-weight: bold;
}

/* list bits */
ul {
  padding: 0;
  list-style-type: disc;
}
li {
  padding: 0;
  margin-left: 1.2em;
  margin-bottom: 0.5em;
}
ol li { margin-left: -.7em; }

/* misc bits */
blockquote {
  font-size: 90%;
  margin: 2em 0;
  padding: 0 1.5em;
  border-left: 0.5px dotted var(--clr-dark);
  border-block: 0.5px dotted var(--clr-dark);
}
pre { overflow-x: auto;}
code {
  font-size: 92.5%;
  word-spacing: 0;
}

/* images bits */
img { max-width: 100%; }
img.right {
  float: right;
  width: 40%;
  margin: 1.5em 0 1.5em 2em;
}

/* table bits */
table { border-collapse: collapse; }
th {
  text-align: left;
  padding-right: 2rem;
}
td { padding-right: 2rem; }

/* special class bits */
.right-callout {
  float: right;
  width: 13em;
  font-size: 75%;
  font-style: italic;
  padding: 0.5em 0 0.5em 1.5em;
  border-left: 1px dotted var(--clr-dark);
  margin-left: 1.5em;
}
.print-only { display: none; }
.sc { font-variant: small-caps;}

/* media query */
@media (max-width: 600px) {
  body { font-size: 13px; }
  #menu { height: 7.5em ;}
  #menu .site-title { float: none; }
  #menu ul.links { 
    float: none;
    margin: -.5em 0 0 -.8em;
  }
  h1 { margin-top: .5em, 0;}
  #content {
    margin: 0.5em auto;
    max-width: 400px;
  }
}

@media print {
  .no-print { display: none; }
  .print-only { display: block }
  a:link, a:visited { color: var(--clr-dark)}
}
